<!-- DEFINE $SIDEBAR = 1 -->

<!-- DEFINE $SIDEBAR_INDEX = 1 -->
<!-- DEFINE $SIDEBAR_FORUM = 1 -->
<!-- DEFINE $SIDEBAR_SEARCH = 1 -->

<!-- DEFINE $SIDEBAR_WORDPRESS = 0 -->
<!-- DEFINE $SIDEBAR_FAVORITES = 1 -->
<!-- DEFINE $SIDEBAR_FORUM_STICKY = 1 -->
<!-- DEFINE $SIDEBAR_SOCIAL_SHARE = 0 -->
<!-- DEFINE $SIDEBAR_SOCIAL_SELF = 0 -->
<!-- DEFINE $SIDEBAR_ONLINE = 1 -->
<!-- DEFINE $SIDEBAR_BIRTHDAYS = 1 -->


<!-- DEFINE $PIWIK = 1 -->
<!-- DEFINE $PIWIK_URL = 'www.tellementnomade.org/piwik/' -->

<!-- DEFINE $SOCIAL = 1 -->
<!-- DEFINE $FACEBOOK_URL = 'http://www.facebook.com/pages/TellementNomade/165805823444969' -->
<!-- DEFINE $TWITTER_URL = 'http://twitter.com/tellementnomade' -->


<!-- PLUGINS CONFIGURATIONS -->

<!-- DEFINE $GALLERY = 0 -->
<!-- DEFINE $FEEDBACK = 0 -->