
    <!-- INCLUDE overall_header.html -->
    </div>
      <!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
                <form method="post" action="{S_LOGIN_ACTION}" class="form-inline no-margin col-sm-10 col-sm-offset-1 col-xs-12 ">
             <div class="row input-group-sm">
                <div class="col-sm-10 hidden-xs">
                   <input autofocus type="text" name="username" id="username" placeholder="{L_USERNAME}" size="10" class="inputbox form-control " title="{L_USERNAME}" />

                   <input type="password" name="password" id="password" placeholder="{L_PASSWORD}" size="10" class="inputbox form-control" title="{L_PASSWORD}" />

          
                    <input type="submit" name="login" value="{L_LOGIN}" class="btn btn-sm btn-success" />
                    {S_LOGIN_REDIRECT}
                    <!-- IF S_AUTOLOGIN_ENABLED -->
                    <input type="checkbox" name="autologin" id="autologin" /><span class="hidden-xs"> {L_LOG_ME_IN}</span>
                    <!-- ENDIF -->
                </div>
                <div class="hidden-xs col-sm-1 text-center">
                    
                     <!-- IF S_REGISTER_ENABLED --><a href="{U_REGISTER}" class="btn btn-sm btn-default ">{L_REGISTER}</a><!-- ENDIF -->
                </div>
            </div>
            </form>
    <!-- ENDIF -->
     <!-- IF not S_IS_BOT && not $CA_SKIP_PM_NOTIFY && S_USER_LOGGED_IN && S_DISPLAY_PM && (  S_USER_NEW_PRIVMSG || S_USER_UNREAD_PRIVMSG ) -->
        <div class="row ">
               <div class=" col-sm-10 col-sm-offset-1 col-xs-12 text-center  alert-warning ">
                <!-- IF S_USER_NEW_PRIVMSG -->
                        <div class="pm-notify-new"><div class="pm-notify-header">{L_PRIVATE_MESSAGES}</div><a href="{U_PRIVATEMSGS}">{PRIVATE_MESSAGE_INFO}<!-- IF PRIVATE_MESSAGE_INFO_UNREAD -->, {PRIVATE_MESSAGE_INFO_UNREAD}<!-- ENDIF --></a></div>
                <!-- ELSEIF S_USER_UNREAD_PRIVMSG -->
                <!-- ENDIF -->
                </div> 
        </div>
        <!-- ENDIF --> 
    <div class="row">
        <div class=" col-xs-12">
          <!-- INCLUDE forumlist_body.html -->
        </div>
    </div>
    
    <!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
    <div class="row ">
            <form method="post" action="{S_LOGIN_ACTION}" class="form-horizontal no-margin col-xs-12 well">
             <div class=" form-group row">
                <div class="col-xs-6">

                    <h4 ><a href="{U_LOGIN_LOGOUT}" >{L_LOGIN_LOGOUT}</a></h4>
                    <label for="username" class="hidden-xs">{L_USERNAME}:</label>&nbsp;<input type="text" name="username" id="username" placeholder="{L_USERNAME}" size="10" class="inputbox form-control" title="{L_USERNAME}" />

                    <label for="password" class="hidden-xs">{L_PASSWORD}:</label>&nbsp;<input type="password" name="password" id="password" placeholder="{L_PASSWORD}" size="10" class="inputbox form-control" title="{L_PASSWORD}" />



            <!-- IF S_AUTOLOGIN_ENABLED -->
                    <label for="autologin"> <input type="checkbox" name="autologin" id="autologin" /> {L_LOG_ME_IN}</label>
            <!-- ENDIF -->
                    <input type="submit" name="login" value="{L_LOGIN}" class="btn btn-sm btn-default" />
                    {S_LOGIN_REDIRECT}
                </div>
                <div class="col-xs-6">
                     <!-- IF S_REGISTER_ENABLED --><h4><a href="{U_REGISTER}">{L_REGISTER}</a></h4><!-- ENDIF -->
                    
                </div>
            </div>
            </form>
    </div>
    <!-- ENDIF -->

    <!-- IF S_DISPLAY_ONLINE_LIST and S_USER_LOGGED_IN-->
    <div class="row hidden-xs">
        <div class="well col-sm-10 col-sm-offset-1">
            <!-- IF U_VIEWONLINE -->
            <h3 class="panel-title"><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3><!-- ELSE --><h3 class="panel-title">{L_WHO_IS_ONLINE}</h3>
            <!-- ENDIF -->
            <p>{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br /> <br />{LOGGED_IN_USER_LIST}
            <!-- IF LEGEND --><br /><em>{L_LEGEND}: {LEGEND}</em><!-- ENDIF --></p>
        </div>
    </div>
    <!-- ENDIF -->

    <!-- IF S_DISPLAY_BIRTHDAY_LIST and BIRTHDAY_LIST and S_USER_LOGGED_IN -->
    <div class="row  hidden-xs">
        <div class="well col-sm-10 col-sm-offset-1">
            <h3 class="panel-title ">{L_BIRTHDAYS}</h3>
            <p><!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <strong>{BIRTHDAY_LIST}</strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF --></p>
        </div>
    </div>
    <!-- ENDIF -->

    <!-- IF NEWEST_USER and S_USER_LOGGED_IN -->
    <div class="row  hidden-xs">
        <div class="well col-sm-10 col-sm-offset-1">
            <h3 class="panel-title">{L_STATISTICS}</h3>
            <p>{TOTAL_POSTS} &bull; {TOTAL_TOPICS} <!-- IF TOTAL_IMAGES --> &bull; {TOTAL_IMAGES}<!-- ENDIF --> &bull; {TOTAL_USERS} &bull; {NEWEST_USER}</p>
        </div>
    </div>
    <!-- ENDIF -->

    </div>
    </div>
</div>     
<!-- IF S_INDEX -->
    <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                
                <!-- INCLUDE slider/wp_gallery_recent_posts.html -->
            </ul>
         
             <ul class="sidebar-nav">
                
                <!-- INCLUDE watched_posts.html -->
            </ul>
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    Must-read
                    
                </li>
                <li class="hover">
                    <a href="/wiki/doku.php?id=qu_est-ce_que_tn">TN (en large)</a>
                </li>
                <li class="hover">
                    <a href="/guide-de-noel-2014-lannee-de-tellementnomade-en-accelere/">Guide 2014</a>
                </li>
                <li class="hover">
                    <a href="/forum/viewtopic.php?f=47&t=4739">Charte des PAs</a>
                </li>
                <li class="hover">
                    <a href="/forum/viewtopic.php?f=109&t=8919">Guide pour les feedbacks</a>
                </li>
            </ul>
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    Nos partenaires
                    
                </li>
                <li class="hover">
                    <a href="www.audiophonics.fr">Audiophonics</a>
                </li>
                <li class="hover">
                    <a href="www.jdslabs.com">JDSLabs</a>
                </li>
                <li class="hover">
                    <a href="www.thecustomart.com">CustomArt</a>
                </li>
                <li class="hover">
                    <a href="www.conceptstoreaudiotechnica.fr">AudioTechnica</a>
                </li>
            </ul>
           
        </div>

 <!-- ENDIF -->
    <!-- INCLUDE overall_footer.html -->
    