<!-- INCLUDE overall_header.html -->

<!-- IF S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) -->

        </div>
        <div class="hidden-xs hidden-sm row ">
            <div class="btn-group"><!-- IF S_DISPLAY_SEARCH -->
        		<a class="btn btn-default btn-sm" href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a>
        		<!-- IF S_LOAD_UNREADS --> <a class="btn btn-default btn-sm" href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a><!-- ENDIF -->
        		<!-- IF S_USER_LOGGED_IN --> <a class="btn btn-default btn-sm" href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a><!-- ENDIF --> 
        		<a  class="btn btn-default btn-sm" href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a>
        	<!-- ENDIF -->
        	</div>
        	<div class="btn-group pull-right">
        	<!-- IF not S_IS_BOT and U_MARK_FORUMS -->
        	    <a class="btn btn-default btn-sm" href="{U_MARK_FORUMS}" accesskey="m">{L_MARK_FORUMS_READ}</a>
    	    <!-- ENDIF -->
        	<!-- IF S_HAS_SUBFORUM -->
                <!-- IF not S_IS_BOT and U_MARK_FORUMS -->
                	<a class="btn btn-default btn-sm"href="{U_MARK_FORUMS}">{L_MARK_SUBFORUMS_READ}</a></li>
                <!-- ENDIF -->
            <!-- ENDIF -->
            </div>
        <div class="btn-group dropdown pull-right  hidden-md hidden-lg hidden-xl ">
            <a class="btn btn-inverse dropdown-toggle " data-toggle="dropdown" href="#" >
              <i class="icon-wrench icon-white"></i>
              <span class="caret "></span>
            </a>
            <ul class="dropdown-menu ">
        	<!-- IF S_DISPLAY_SEARCH -->
        		<li><a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a></li>
        		<!-- IF S_LOAD_UNREADS --> <li><a href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a></li><!-- ENDIF -->
        		<!-- IF S_USER_LOGGED_IN --> <li><a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a></li><!-- ENDIF --> 
        		<li><a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a></li>
        	<!-- ENDIF -->
        	<!-- IF not S_IS_BOT and U_MARK_FORUMS --><li class="rightside"><a href="{U_MARK_FORUMS}" accesskey="m">{L_MARK_FORUMS_READ}</a></li><!-- ENDIF -->
        	<!-- IF S_HAS_SUBFORUM -->
        <!-- IF not S_IS_BOT and U_MARK_FORUMS -->
            	<li><a href="{U_MARK_FORUMS}">{L_MARK_SUBFORUMS_READ}</a></li>
            <!-- ENDIF -->
            <!-- ENDIF -->
            </ul>
        </div>
</div>
<!-- ENDIF -->
<div class="row ">
    
        <div class=" col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12 ">
          <!-- INCLUDE forumlist_body.html -->
        </div>
        <div class=" col-xl-2 col-lg-2 col-md-2 hidden-sm hidden-xs ">
          <!-- INCLUDE wp_recent_posts.html -->
        </div>
</div>
	
<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
<div class="row well">
	<form method="post" action="{S_LOGIN_ACTION}" class="form-horizontal no-margin col-md-12 col-sm-12 col-xs-12 col-xl-12">
    	<div class="btn-group  row">
    	    <h4 class=" btn btn-default col-md-6"><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a></h4>
    	    <!-- IF S_REGISTER_ENABLED --><h4 class=" btn btn-default col-md-6"><a href="{U_REGISTER}">{L_REGISTER}</a></h4><!-- ENDIF -->
    	</div>
    	<p>
    		<div class="quick-login form-group row">
    			
    			<label for="username">{L_USERNAME}:</label>&nbsp;<input type="text" name="username" id="username" size="10" class="inputbox form-control" title="{L_USERNAME}" />
			</div>
			<div class="quick-login form-group row">
    			<label for="password">{L_PASSWORD}:</label>&nbsp;<input type="password" name="password" id="password" size="10" class="inputbox form-control" title="{L_PASSWORD}" />
			</div>

			<div class="quick-login form-group row">
    			<!-- IF S_AUTOLOGIN_ENABLED -->
    				<label for="autologin"> <input type="checkbox" name="autologin" id="autologin" /> {L_LOG_ME_IN}</label>
    			<!-- ENDIF -->
    			<input type="submit" name="login" value="{L_LOGIN}" class="btn btn-default" />
    			{S_LOGIN_REDIRECT}
    		</div>
    	</p>
	</form>
</div>
<!-- ENDIF -->

<!-- IF S_DISPLAY_ONLINE_LIST -->
<div class="row well hidden-xs">
	<!-- IF U_VIEWONLINE -->
	<h3 class="panel-title"><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3><!-- ELSE --><h3 class="panel-title">{L_WHO_IS_ONLINE}</h3>
	<!-- ENDIF -->
	<p>{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br /> <br />{LOGGED_IN_USER_LIST}
	<!-- IF LEGEND --><br /><em>{L_LEGEND}: {LEGEND}</em><!-- ENDIF --></p>
</div>
<!-- ENDIF -->

<!-- IF S_DISPLAY_BIRTHDAY_LIST and BIRTHDAY_LIST -->
<div class="row well hidden-xs">
	<h3 class="panel-title">{L_BIRTHDAYS}</h3>
	<p><!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <strong>{BIRTHDAY_LIST}</strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF --></p>
</div>
<!-- ENDIF -->

<!-- IF NEWEST_USER -->
<div class="row well hidden-xs">
	<h3 class="panel-title">{L_STATISTICS}</h3>
	<p>{TOTAL_POSTS} &bull; {TOTAL_TOPICS} <!-- IF TOTAL_IMAGES --> &bull; {TOTAL_IMAGES}<!-- ENDIF --> &bull; {TOTAL_USERS} &bull; {NEWEST_USER}</p>
	<p class="{S_CONTENT_FLOW_END}<!-- IF S_USER_LOGGED_IN --> rightside<!-- ENDIF -->"><!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<!-- ELSE -->{CURRENT_TIME}<!-- ENDIF --></p>
</div>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->