<!-- INCLUDE overall_header.html -->
         </li>
        </ul>
    </div>


<h2 class="solo">{PAGE_TITLE}</h2>
</div>

<!-- We close the div containg the breadcrumbs and the back button-->
<form method="post" action="{S_MODE_ACTION}" class="row">

<div class="panel panel-default col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="row panel-heading">
		<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 panel-title">{L_ADMINISTRATORS}</div>
		<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 panel-title"><span class="rank-img">{L_RANK}&nbsp;</span></div>
		<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 panel-title">{L_PRIMARY_GROUP}</div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 panel-title">{L_FORUMS}</div>
	</div>
	<div class=" row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
<!-- BEGIN admin -->
	<div class=" row <!-- IF admin.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
		<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 ">{admin.USERNAME_FULL}</div>
		<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 "><!-- IF admin.RANK_IMG --><span class="rank-img">{admin.RANK_IMG}</span>
                        <!-- ELSE --><span class="rank-img">{admin.RANK_TITLE}</span><!-- ENDIF --></div>
		<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 "><!-- IF admin.U_GROUP -->
			<a<!-- IF admin.GROUP_COLOR --> style="font-weight: bold; color:#{admin.GROUP_COLOR}"<!-- ENDIF --> href="{admin.U_GROUP}">{admin.GROUP_NAME}</a>
			<!-- ELSE -->
				{admin.GROUP_NAME}
			<!-- ENDIF --></div>
		<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">-</div>
	</div>
<!-- BEGINELSE -->
	<div class="bg1 row">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 "><strong>{L_NO_ADMINISTRATORS}</strong></div>
	</div>
<!-- END admin -->
        </div>
    </div>
</div>

	 
<div class="panel panel-default col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class="row panel-heading">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 panel-title">{L_MODERATORS}</div>

        </div>
	<div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <!-- BEGIN mod -->
	<div class="row <!-- IF mod.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
		<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 ">{mod.USERNAME_FULL}</div>
		<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 "><!-- IF mod.RANK_IMG --><span class="rank-img">{mod.RANK_IMG}</span><!-- ELSE --><span class="rank-img">{mod.RANK_TITLE}</span><!-- ENDIF --></div>
		<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 "><!-- IF mod.U_GROUP -->
			<a<!-- IF mod.GROUP_COLOR --> style="font-weight: bold; color:#{mod.GROUP_COLOR}"<!-- ENDIF --> href="{mod.U_GROUP}">{mod.GROUP_NAME}</a>
			<!-- ELSE -->
				{mod.GROUP_NAME}
                                <!-- ENDIF --></div>
		<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <!-- IF not mod.FORUMS -->{L_ALL_FORUMS}<!-- ELSE --><select style="width: 100%;">{mod.FORUMS}</select><!-- ENDIF --></div>
	</div>
<!-- BEGINELSE -->
	<div class="row bg1">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 "><strong>{L_NO_MODERATORS}</strong></div>
	</div>
<!-- END mod -->
	
	</div>
    </div>
</div>
	
</form>

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->