<!-- INCLUDE overall_header.html -->
         </li>
        </ul>
    </div>
 <!-- we close the breadcrumb -->        
    <div class="btn btn-group col-xs-2 ">
        <!-- IF U_FEED --> <a class="btn btn-xs btn-default pull-right" title="{L_FEED} - {FORUM_NAME}" href="{U_FEED}?f={FORUM_ID}"><i class="fa fa-rss"></i></a><!-- ENDIF -->
        <!-- IF S_WATCH_FORUM_LINK --><a class="btn btn-xs btn-default pull-right" href="{S_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}"><i class="<!-- IF S_WATCHING_FORUM -->fa fa-star<!-- ELSE -->fa fa-star-o<!-- ENDIF -->"> </i> </a><!-- ENDIF -->
        <!-- IF U_BOOKMARK_FORUM --><a class="btn btn-xs btn-default pull-right" href="{U_BOOKMARK_TOPIC}" title="{L_BOOKMARK_TOPIC}"><i class="fa fa-bookmark"></i> </a><!-- ENDIF -->
    </div>
</div><!-- We close the div containg the breadcrumbs and the back button-->

<!-- IF SIDEBAR and SIDEBAR_FORUM -->
<div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
<!-- ENDIF -->    
            <!-- IF FORUM_DESC or MODERATORS or U_MCP -->
            <div>
                    <!-- IF FORUM_DESC --><!--<div >{FORUM_DESC}<br /></div>--><!-- ENDIF -->
                    <!-- IF MODERATORS --><p><strong><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->:</strong> {MODERATORS}</p><!-- ENDIF -->
            </div>
            <!-- ENDIF -->

    <!-- IF S_FORUM_RULES -->
            <div class="rules well row">

                    <!-- IF U_FORUM_RULES -->
                            <a href="{U_FORUM_RULES}">{L_FORUM_RULES}</a>
                    <!-- ELSE -->
                            <strong>{L_FORUM_RULES}</strong><br />
                            {FORUM_RULES}
                    <!-- ENDIF -->
            </div>
    <!-- ENDIF -->
            <!-- INCLUDE parts/alert-msg.html -->
    <!-- IF S_HAS_SUBFORUM -->
            <!-- INCLUDE forumlist_body.html -->
    <!-- ENDIF -->

    <!-- IF S_DISPLAY_POST_INFO or PAGINATION or TOTAL_POSTS or TOTAL_TOPICS -->
        <section class="topic-actions  row" <!-- IF S_HAS_SUBFORUM -->style="margin-top: 1em;"<!-- ENDIF -->>

            <!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
            <div class="col-xs-4">
            <!-- IF S_IS_LOCKED -->

                    <a class="btn btn-sm btn-danger" href="{U_POST_NEW_TOPIC}"><span></span>{L_FORUM_LOCKED}</a>
                    <!-- ELSE -->
                    <a class="btn btn-sm btn-success" href="{U_POST_NEW_TOPIC}"><span></span><i class="icon-file icon-white"></i> {L_POST_TOPIC}</a>
            <!-- ENDIF -->
            </div>
            <!-- ENDIF -->

            <!-- IF PAGINATION or TOTAL_POSTS or TOTAL_TOPICS -->
            <div class="p-pagination col-md-4 col-xs-8">
                <div class="text-center pagination">
                    <!-- IF PAGE_NUMBER -->
                            <!-- IF PAGINATION --> 

                        <!-- IF PREVIOUS_PAGE -->
                                <a   href="{PREVIOUS_PAGE}" class="btn btn-default btn-sm "><i class=" fa fa-angle-left"> </i> {L_PREVIOUS}</a>
                        <!-- ENDIF -->
                                    <span class="hidden-xs">{PAGINATION}</span>
                                <!-- ELSE --> 
                            <!-- IF PREVIOUS_PAGE -->
                                <a href="{PREVIOUS_PAGE}" class="btn btn-default btn-sm"><i class=" fa fa-angle-left"> </i> {L_PREVIOUS}</button>
                        <!-- ENDIF -->
                                <div class=" hidden-xs">{PAGE_NUMBER}</div><!-- ENDIF -->
                            <!-- ENDIF -->
                            <!-- IF NEXT_PAGE -->
                            <a href="{NEXT_PAGE}" class="btn btn-default btn-sm">{L_NEXT} <i class="fa fa-angle-right"> </i></a>
                    <!-- ENDIF -->
                    </div>
            </div>
            <!-- ENDIF -->

            <!-- IF S_DISPLAY_SEARCHBOX -->
            <div class="col-md-4 hidden-sm hidden-xs">	
                    <form action="{S_SEARCHBOX_ACTION}" method="get" id="forum-search" class="form-inline pull-right" >


                                    <div class="form-group">

                                            <input class="form-control" type="text" name="keywords" id="search_keywords_up" value="{L_SEARCH_FORUM}" onclick="if (this.value == '{LA_SEARCH_FORUM}') this.value = '';" onblur="if (this.value == '') this.value = '{LA_SEARCH_FORUM}';" />
                                    {S_SEARCH_LOCAL_HIDDEN_FIELDS}
                                    </div>
                                    <button type="submit" class="btn btn-sm btn-default">{L_SEARCH}</button>


                            </form>
            </div>
            <!-- ENDIF -->


        </section>
    <!-- ENDIF -->

    <!-- IF S_NO_READ_ACCESS -->

            <div class="row">
                    <div class="well">
                    <strong>{L_NO_READ_ACCESS}</strong>
                    </div>
            </div>

            <!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->

                    <form action="{S_LOGIN_ACTION}" method="post">

                    <section class="row well">
                                            <h3 class="box-heading"><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; &bull; &nbsp;<a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3>
                            <div class="content">


                                    <div class="fields1 form-group">
                                    <dl class="form-control">
                                            <dt><label for="username">{L_USERNAME}:</label></dt>
                                            <dd><input type="text" tabindex="1" name="username" id="username" size="25" value="{USERNAME}" class="inputbox " /></dd>
                                    </dl>
                                    <dl  class="form-control">
                                            <dt><label for="password">{L_PASSWORD}:</label></dt>
                                            <dd><input type="password" tabindex="2" id="password" name="password" size="25" class="inputbox autowidth" /></dd>
                                            <!-- IF S_AUTOLOGIN_ENABLED --><dd><label for="autologin"><input type="checkbox" name="autologin" id="autologin" tabindex="3" /> {L_LOG_ME_IN}</label></dd><!-- ENDIF -->
                                            <dd><label for="viewonline"><input type="checkbox" name="viewonline" id="viewonline" tabindex="4" /> {L_HIDE_ME}</label></dd>
                                    </dl>
                                    <dl>
                                            <dt>&nbsp;</dt>
                                            <dd><input type="submit" name="login" tabindex="5" value="{L_LOGIN}" class="btn btn-sm" /></dd>
                                    </dl>
                                    {S_LOGIN_REDIRECT}
                                    </div>
                            </div>
                    </section>

                    </form>

            <!-- ENDIF -->

    <!-- ENDIF -->

    <!-- BEGIN topicrow -->

            <!-- IF not topicrow.S_TOPIC_TYPE_SWITCH and not topicrow.S_FIRST_ROW -->
                    </ul>
                    </div>
            </div>
            <!-- ENDIF -->


            <!-- IF topicrow.S_FIRST_ROW or not topicrow.S_TOPIC_TYPE_SWITCH -->

            <!-- HEADERS -->
                 <div class="panel  panel-default <!-- IF topicrow.S_TOPIC_TYPE_SWITCH and (topicrow.S_POST_ANNOUNCE or topicrow.S_POST_GLOBAL) --> announcement<!-- ENDIF --> row ">
                    <div class="table-striped col-xs-12 " >
                            <div class="topiclist row panel-heading">
                                    <div class="col-xs-7 panel-title"><!-- IF S_DISPLAY_ACTIVE -->{L_ACTIVE_TOPICS}<!-- ELSEIF topicrow.S_TOPIC_TYPE_SWITCH and (topicrow.S_POST_ANNOUNCE or topicrow.S_POST_GLOBAL) -->{L_ANNOUNCEMENTS}<!-- ELSE -->{L_TOPICS}<!-- ENDIF --></div>
                                    <div class="posts col-lg-1 col-md-2 hidden-xs hidden-sm text-center">{L_REPLIES}</div>
                                    <div class="views col-lg-1 hidden-md hidden-xs hidden-sm text-center">{L_VIEWS}</div>

                                    <div class="lastpost col-md-3 hidden-xs hidden-sm"><span>{L_LAST_POST}</span></div>
                            </div>
                    </div>
                <!-- We open the div containing all the row of the forum-->
                        <div class="topiclist topics col-xs-12 ">
            <!-- ENDIF -->
                        <article class=" forumrow row  <!-- IF topicrow.S_POST_GLOBAL --> warning-color<!-- ENDIF --><!-- IF topicrow.S_POST_ANNOUNCE --> info-color<!-- ENDIF --><!-- IF topicrow.S_POST_STICKY --> success-color<!-- ENDIF --><!-- IF topicrow.S_TOPIC_REPORTED --> danger-color<!-- ENDIF -->"> 
                                        <div class="col-md-7 col-xs-9
                                        <!-- IF topicrow.S_POST_GLOBAL --> warning-color<!-- ENDIF --><!-- IF topicrow.S_POST_ANNOUNCE --> info-color<!-- ENDIF --><!-- IF topicrow.S_POST_STICKY --> success-color<!-- ENDIF --><!-- IF topicrow.S_TOPIC_REPORTED --> danger-color<!-- ENDIF -->" 
                                         title="{topicrow.TOPIC_FOLDER_IMG_ALT}">
                                            <a href="{topicrow.U_VIEW_TOPIC}" class="topictitle
                                         <!-- IF topicrow.S_UNREAD_TOPIC --> unread <!-- ENDIF --> 
                                         ">{topicrow.TOPIC_FOLDER_IMG} {topicrow.TOPIC_TITLE}</a>

                                         <!-- IF topicrow.S_UNREAD_TOPIC --><a href="{topicrow.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> <!-- ENDIF -->
                                         <!-- IF topicrow.S_POST_GLOBAL --><span class="label label-warning pull-right">GLOBAL</span> <!-- ENDIF -->
                                         <!-- IF topicrow.S_POST_ANNOUNCE --><span class="label label-info pull-right">ANNOUNCEMENT</span> <!-- ENDIF -->
                                         <!-- IF topicrow.S_POST_STICKY --><span class="label label-success pull-right">STICKY</span> <!-- ENDIF -->
                                         <!--<i class="pcon" style="background-image: url({topicrow.TOPIC_FOLDER_IMG_SRC}); background-repeat: no-repeat;"></i> -->
                                         <!-- IF topicrow.TOPIC_ICON_IMG and S_TOPIC_ICONS --><img src="{T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}"/><!-- ENDIF -->
                                         <!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED --><a href="{topicrow.U_MCP_QUEUE}">{topicrow.UNAPPROVED_IMG}</a> <!-- ENDIF -->
                                        <!-- IF topicrow.S_TOPIC_REPORTED --><a href="{topicrow.U_MCP_REPORT}"><span class="label label-important pull-right"><i class="icon-exclamation-sign icon-white"></i></span></a><!-- ENDIF --><br />
                                        <!-- IF topicrow.PAGINATION --><div class="p-pagination pull-right"><span>{topicrow.PAGINATION}</span></div><!-- ENDIF -->
                                        <!-- IF topicrow.ATTACH_ICON_IMG -->{topicrow.ATTACH_ICON_IMG} <!-- ENDIF --><small><span class="hidden-xs">{L_POST_BY_AUTHOR}</span> {topicrow.TOPIC_AUTHOR_FULL} &raquo; {topicrow.FIRST_POST_TIME}</small>
                                        <!-- IF topicrow.S_POST_GLOBAL and FORUM_ID != topicrow.FORUM_ID --> &raquo; {L_IN} <a href="{topicrow.U_VIEW_FORUM}">{topicrow.FORUM_NAME}</a><!-- ENDIF -->
                                </div>
                                <div class=" text-center col-lg-1 col-md-2 hidden-xs hidden-sm posts<!-- IF topicrow.S_POST_GLOBAL --> warning-color<!-- ENDIF --><!-- IF topicrow.S_POST_ANNOUNCE --> info-color<!-- ENDIF --><!-- IF topicrow.S_POST_STICKY --> success-color<!-- ENDIF --><!-- IF topicrow.S_TOPIC_REPORTED --> danger-color<!-- ENDIF -->"><span class="label label-default ">{topicrow.REPLIES}</span></div>
                                <div class="text-center col-lg-1 hidden-md hidden-xs hidden-sm views<!-- IF topicrow.S_POST_GLOBAL --> warning-color<!-- ENDIF --><!-- IF topicrow.S_POST_ANNOUNCE --> info-color<!-- ENDIF --><!-- IF topicrow.S_POST_STICKY --> success-color<!-- ENDIF --><!-- IF topicrow.S_TOPIC_REPORTED --> danger-color<!-- ENDIF -->"><span class="label label-default ">{topicrow.VIEWS}</span></div>
                                <div class="col-xs-3 lastpost<!-- IF topicrow.S_POST_GLOBAL --> warning-color<!-- ENDIF --><!-- IF topicrow.S_POST_ANNOUNCE --> info-color<!-- ENDIF --><!-- IF topicrow.S_POST_STICKY --> success-color<!-- ENDIF --><!-- IF topicrow.S_TOPIC_REPORTED --> danger-color<!-- ENDIF -->">
                                    <span>{L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL}
                                        <!-- IF not S_IS_BOT --><a href="{topicrow.U_LAST_POST}"> <br />{topicrow.LAST_POST_TIME} {LAST_POST_IMG}</a></span><!-- ENDIF -->
                            </div>

                        </article>



            <!-- IF topicrow.S_LAST_ROW -->
            <!-- Ward : here land our pb between full forum view and subforum views -->

                             </div> <!-- col-md-12 -->
             <!--	</div>topiclist -->
                    <span class="topiclastrow"></span>
                </div>
                <!-- ELSE -->
                  <!--   </div> closing container of rows-->
                  <!-- Gosh, it's a pain in the ass to do such kind of debug.. -->
            <!-- ENDIF -->

    <!-- BEGINELSE -->
            <!-- IF S_IS_POSTABLE -->
            <div class="panel">
                    <div class="inner">
                        <strong>{L_NO_TOPICS}</strong>
                    </div>
            </div>
            <!-- ENDIF -->
    <!-- END topicrow -->

        <div class="row">
            <div class="col-xs-4">
            <!-- IF PREVIOUS_PAGE -->
                 <a   href="{PREVIOUS_PAGE}" class="btn btn-default btn-sm "><i class="fa fa-angle-left"></i> {L_PREVIOUS}</a>
            <!-- ENDIF -->
            </div>

            <div class=" col-xs-4 text-center">
            <!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
                    <!-- IF S_IS_LOCKED -->
                            <a class="btn btn-danger btn-sm" href="{U_POST_NEW_TOPIC}"><span></span>{L_FORUM_LOCKED}</a>
                        <!-- ELSE -->
                        <a class="btn btn-success btn-sm" href="{U_POST_NEW_TOPIC}"><span></span><i class="icon-file icon-white"></i> {L_POST_TOPIC}</a>
                        <!-- ENDIF -->

            <!-- ENDIF -->
                </div>
                <div class="col-xs-4  ">
                <!-- IF NEXT_PAGE -->
                        <a href="{NEXT_PAGE}" class="btn btn-default pull-right btn-sm">{L_NEXT} <i class="fa fa-angle-right"> </i></a>
            <!-- ENDIF -->
            </div>

        </div>

        <div class="row well bottom-topic-actions">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- IF S_SELECT_SORT_DAYS and not S_DISPLAY_ACTIVE -->
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <!-- IF not S_IS_BOT and U_MARK_TOPICS -->
                            <a class="btn btn-default btn-sm" href="{U_MARK_TOPICS}" accesskey="m"><i class="fa fa-check"></i> {L_MARK_TOPICS_READ}</a> 
                        <!-- ENDIF -->
                    </div>
                     <div class="col-md-4 col-sm-4 col-xs-6 text-center pagination" >
                            <!-- IF PAGINATION or TOTAL_POSTS or TOTAL_TOPICS -->
                                    <!-- IF PAGE_NUMBER -->
                                                <!-- IF PAGINATION --> 
                                                    <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}" class="hidden-xs"> 
                                                           {PAGE_NUMBER}
                                                    </a>  
                                                    <span >{PAGINATION}</span>
                                                    <!-- ELSE -->  {PAGE_NUMBER}
                                            <!-- ENDIF -->
                                        <!-- ENDIF -->
                    <!-- ENDIF -->
                    </div>
                    <!-- IF TOTAL_TOPICS --> 
                        <div class="col-md-4 col-sm-4 hidden-xs ">

                                <!-- IF S_DISPLAY_SEARCHBOX -->
                                <form action="{S_SEARCHBOX_ACTION}" method="get"  class="form-inline pull-right" role="form" >
                                            <div class="form-group ">
                                                <input class="form-control " type="text" name="keywords" id="search_keywords_down"  value="{L_SEARCH_FORUM}" onclick="if (this.value == '{LA_SEARCH_FORUM}') this.value = '';" onblur="if (this.value == '') this.value = '{LA_SEARCH_FORUM}';" />

                                                {S_SEARCH_LOCAL_HIDDEN_FIELDS}

                                            </div>
                                             <button type="submit" class="btn btn-default btn-sm">{L_SEARCH}</button>
                                </form>
                                <!-- ELSE -->
                                 {TOTAL_TOPICS}
                                <!-- ENDIF -->

                            </div>
                    <!-- ENDIF -->
                </div>
            <!-- ENDIF -->

            <!-- INCLUDE jumpbox.html -->

            <!-- IF .topicrow and not S_DISPLAY_ACTIVE -->

            <div class="row hidden-xs ">
                <form method="post" action="{S_FORUM_ACTION}" class="col-md-12 col-sm-12 col-xs-12 ">
                        <div class="display-options form-group text-center">
                                <!-- IF not S_IS_BOT -->
                                <label>{L_DISPLAY_TOPICS}:</label> {S_SELECT_SORT_DAYS}
                                        <label>{L_SORT_BY}</label> {S_SELECT_SORT_KEY}
                                        {S_SELECT_SORT_DIR}
                                        <input type="submit" name="sort" value="{L_GO}" class="btn btn-default btn-sm" />
                            <!-- ENDIF -->

                        </div>
                </form>

            </div>

        </div>
    <!-- ENDIF -->
    </div>


    <!-- IF S_DISPLAY_ONLINE_LIST -->
        <div class="row box well">
                <h3 class="heading"><!-- IF U_VIEWONLINE --><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a><!-- ELSE -->{L_WHO_IS_ONLINE}<!-- ENDIF --></h3>
                <p>{LOGGED_IN_USER_LIST}</p>
        </div>

    <!-- ENDIF -->
    
        </div>
    </div>
<!-- IF SIDEBAR and SIDEBAR_FORUM -->
</div> <!-- end wrapper -->
<!-- ENDIF -->
<!-- INCLUDE parts/sidebar.html -->

<!-- IF S_DISPLAY_POST_INFO -->
<!-- Who cares about permissions ??! -->
<!--<div class="row box">
	<h3 class="heading">{L_FORUM_PERMISSIONS}</h3>
	<p><!-- BEGIN rules --><!--{rules.RULE}<br /><!-- END rules --><!--</p>
<!--</div>
-->
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
