    <div class="col-xs-4">
   <!-- IF PREVIOUS_PAGE -->
        <a  href="{PREVIOUS_PAGE}" class="btn btn-default btn-sm pull-left"><i class="fa fa-angle-left"></i> {L_PREVIOUS}</a>
   <!-- ELSE -->
        {PAGE_NUMBER}
   <!-- ENDIF -->
   </div>

   <div class=" col-xs-4 text-center">
        <span class="pagination"> <span>{PAGINATION}</span></span>
   </div>
   <div class="col-xs-4  ">
       <!-- IF NEXT_PAGE -->
               <a href="{NEXT_PAGE}" class="btn btn-default pull-right btn-sm">{L_NEXT} <i class="fa fa-angle-right"> </i></a>
   <!-- ENDIF -->
   </div>