



<!-- BEGIN postrow -->
	
    
	<!-- IF postrow.S_FIRST_ROW  or postrow.S_NO_CAT  -->
                     <li class=" sidebar-brand">
                         Derniers articles
                    </li>
                       
        	<!-- ENDIF -->
                            <li >
                                   <a title="{postrow.U_POSTTITLE}" href="{postrow.U_POSTLINK}">{postrow.U_POSTTITLE}</a>
                              
                            </li>
            	
	<!-- IF postrow.S_LAST_ROW -->
			   <!-- Ward: last-row -->
	<!-- ELSE -->
            <!-- Ward: not-last-row -->
	<!-- ENDIF -->

<!-- BEGINELSE -->
	<!-- NOthing , no post, fucker ! -->
<!-- END postrow -->
