  <ul class="sidebar-nav">
        <li class="sidebar-brand">
            Nos partenaires
        </li>
        <li class="hover">
            <a href="http://www.audiophonics.fr">Audiophonics</a>
        </li>
        <li class="hover">
            <a href="http://www.jdslabs.com">JDSLabs</a>
        </li>
        <li class="hover">
            <a href="http://www.thecustomart.com">CustomArt</a>
        </li>
        <li class="hover">
            <a href="http://www.conceptstoreaudiotechnica.fr">AudioTechnica</a>
        </li>
    </ul>