



<!-- BEGIN watchtopicrow -->
	<!-- IF watchtopicrow.S_FIRST_ROW and S_USER_LOGGED_IN  -->
            <li class=" sidebar-brand">
                Vos favoris
           </li>

       <!-- ENDIF -->
           <li >
                  <a title="{watchtopicrow.U_TOPICTITLE}" class="<!-- IF watchtopicrow.S_UNREAD_TOPIC -->unread<!-- ENDIF -->" href="{watchtopicrow.U_TOPICLINK}">{watchtopicrow.U_TOPICTITLE}</a>

           </li>
            	
<!-- BEGINELSE -->
	<!-- NOthing , no post, fucker ! -->
<!-- END watchtopicrow -->
