#header-bar nav .navbar-nav > li{
    float:none;
}
#header-bar nav ul.navbar-nav.nav-justified {
    width:55%;
    margin-left:5%;
}

img.navbar-logo {
    display:inline;
    padding:2px 0px 0px 0px;
    max-height:45px;
    position:relative;
}

.pagination span a {
    padding : 5px 2px 5px 2px ;
    
}

.no-hover:hover{
    background-color: inherit;
    
}

#sidebar-wrapper{
    overflow: hidden;
	position:fixed;
    height:100%;
}

#slider {
	text-align: center;
}

#slider  p {
	margin: 0 0 16px;
}



#slider  label:hover,  #slider  a:hover {
	color: #000 !important;
}

#slider  label, #slider  #active, #slider  img { -moz-user-select:none;-webkit-user-select:none; }

#slider .catch { display: block; height: 0; overflow: hidden; }

#slider {
	margin: 0 1 0 1 ;
        width: 248px;
}
#slider *{
            -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
            max-width: inherit;
}

#slider .respond {
	margin: 0 auto;
	max-width: 370px;
}



/* Slider Setup */

#slider input .hidden {
	display: none;
}

#slide1:checked ~ #slides .inner { margin-left:0; }
#slide2:checked ~ #slides .inner { margin-left:-100%; }
#slide3:checked ~ #slides .inner { margin-left:-200%; }
#slide4:checked ~ #slides .inner { margin-left:-300%; }
#slide5:checked ~ #slides .inner { margin-left:-400%; }


#slider #overflow {
	width: 100%;
	overflow: hidden;
}

#slider article img {
    width: 100%;
    max-width: 245px;
    max-height:230px;
}


#slides .inner {
	width: 500%;
	line-height: 0;
}

#slides article {
	width: 20%;
	float: left;
}

/* Slider Styling */



/* Control Setup */

#slider #controls {
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#slider #controls label { 
	display: none;
	width: 50px;
	height: 50px;
	opacity: 0.3;
}

#slider #active {
	margin: 5% 0 0;
	text-align: center;
}

#slider #active label {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #bbb;
}

#slider #active label:hover {
	background: #ccc;
	border-color: #777 !important;
}

#slider #controls label:hover {
	opacity: 0.8;
}

#slider #slide1:checked ~ #controls label:nth-child(2), 
#slider #slide2:checked ~ #controls label:nth-child(3), 
#slider #slide3:checked ~ #controls label:nth-child(4), 
#slider #slide4:checked ~ #controls label:nth-child(5), 
#slider #slide5:checked ~ #controls label:nth-child(1) {
	background: url('next.png') no-repeat;
	float: right;
	margin: 0 -70px 0 0;
	display: block;
}


#slider #slide1:checked ~ #controls label:nth-child(5),
#slider #slide2:checked ~ #controls label:nth-child(1),
#slider #slide3:checked ~ #controls label:nth-child(2),
#slider #slide4:checked ~ #controls label:nth-child(3),
#slider #slide5:checked ~ #controls label:nth-child(4) {
	background: url('prev.png') no-repeat;
	float: left;
	margin: 0 0 0 -70px;
	display: block;
}

#slider #slide1:checked ~ #active label:nth-child(1),
#slider #slide2:checked ~ #active label:nth-child(2),
#slider #slide3:checked ~ #active label:nth-child(3),
#slider #slide4:checked ~ #active label:nth-child(4),
#slider #slide5:checked ~ #active label:nth-child(5) {
	background: #333;
	border-color: #333 !important;
}

/* Info Box */
#slider article a, #slider article h3{
    background-color: rgba(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
     text-align: left;
    text-indent: 0;
    max-width: 242px;
}

#slider .info {
	line-height: 20px;
	margin: 0 0 -150%;
	position: absolute;
	font-style: italic;
	opacity: 0;
	color: #000;
	text-align: left;
        text-overflow:ellipsis-word;
        overflow: hidden;
        white-space: nowrap;
        
}

#slider .info h3 {
	color: #fff;
	margin: 0 0 5px;
	font-weight: normal;
	font-size: 22px;
	font-style: normal;
}

#slider .info:hover {
	opacity: 0;
	color: #000;
        /*overflow:visible;*/
        animation: slide infinite 3s alternate;
}
#slider article h3:hover{
        max-width:100%;
    
}

@keyframes slide {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: -50%;
  }
  100%{
    margin-left:-100%;
  }
}
/* Slider Styling */

#slider #slides {
	margin: 0 0 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 4px #666;
	padding: 1%;
	background: #fff;
}


/* Animation */

#slider #slides .inner {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	-moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
     -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

	-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	-moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
}

#slider {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

#slider #controls label{
	-webkit-transform: translateZ(0);
	-webkit-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
}

#slider #slide1:checked ~ #slides article:nth-child(1) .info,
#slider #slide2:checked ~ #slides article:nth-child(2) .info,
#slider #slide3:checked ~ #slides article:nth-child(3) .info,
#slider #slide4:checked ~ #slides article:nth-child(4) .info,
#slider #slide5:checked ~ #slides article:nth-child(5) .info {
	opacity: 1;
	-webkit-transition: all 1s ease-out 0.6s;
	-moz-transition: all 1s ease-out 0.6s;
	-o-transition: all 1s ease-out 0.6s;
	transition: all 1s ease-out 0.6s;
}

#slider .info,#slider  #controls,#slider  #slides,#slider  #active,#slider  #active label,#slider  .info h3 {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}





@media only screen and (max-width: 850px) and (min-width: 450px) {

	#slider #controls {
		margin: -25% 0 0 15%;
		width: 70%;
		height: 50px;
	}

	#slider #controls label {
		-moz-transform: scale(0.8);
		-webkit-transform: scale(0.8);
		-o-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
	}

	#slider #slides {
		padding: 1% 0;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	}

	#slider #active {
		margin: 5% 0 0;
	}

}




@media only screen and (max-width: 450px) {

	#slider #controls {
		margin: -28% 0 0 24%;
		width: 50%;
		height: 50px;
	}

	#slider #active {
		margin: 23% 0 0;
	}

	#slider #slides {
		padding: 1% 0;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	}

	#slider #slides .info {
		opacity: 0 !important;
	}

	#slider #controls label {
		-moz-transform: scale(0.6);
		-webkit-transform: scale(0.6);
		-o-transform: scale(0.6);
		-ms-transform: scale(0.6);
		transform: scale(0.6);
	}

}

