.postrow .label {
    white-space: pre;
}

.post .postbody .content ul{
    padding-left:15px;
}

.inline{
    display: inline-block;
}


.social-icons.navbar-logo a{
    background-color: #dadada;
    border-radius: 3px;
    font-size: 10px;
    height: 15px;
    line-height: 15px;
    list-style: outside none none;
    margin-bottom: 2px;
    text-align: center;
    transition: background-color 0.5s ease 0s;
    width: 15px;
}
ul.social-icons.navbar-logo {
    margin-top: 2px;
    margin-left: 5px;
    margin-bottom: 0px;
    list-style: outside none none;
}


.social-icons a {
    background-color: #dadada;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    list-style: outside none none;
    margin-bottom: 5px;
    margin-right: 5px;
    text-align: center;
    transition: background-color 0.5s ease 0s;
    width: 40px;
}


.search-button{
    display:inline;
}

#search-li form{
    display:none;
}
#search-li form input{
}
.header-bar nav .navbar-nav.nav-justified > li{
    float:none;
}
#topic-bar nav .navbar-nav.nav-justified > li{
    float:none;
}
.navbar-logo{
    float:left;
}

.navbar-logo img{
    display:inline;
    padding:2px 0px 0px 0px;
    max-height:45px;
}

.pagination span a {
    padding : 5px 2px 5px 2px ;
    
}

.no-hover:hover{
    background-color: inherit;
    
}
