/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 nov. 2014, 12:38:54
    Author     : Wardormeur
*/


.forum0.panel-default .panel-heading{
      
    /*//background-color:rgb(110,87,90);//rgb(130,107,110);192, 57, 43 || 192, 57, 43 || 109, 10, 0|| 110,87,90 ||169, 69, 18, ||141, 49, 2||197, 66, 0*/
    /*background-color:rgba(53, 6, 8, 0.8);//#7F5B59;//*/
}

/*.forum4.panel-default .panel-heading, .forum3.panel-default .panel-heading{
    background-color:rgba(211, 84, 0, 0.8);
}

.forum7.panel-default .panel-heading,.forum6.panel-default .panel-heading{
    background-color:rgba(243, 156, 18, 0.8);
}

.forum12.panel-default .panel-heading, .forum11.panel-default .panel-heading{
    background-color:rgba(39, 174, 96, 0.8);
}

.forum14.panel-default .panel-heading,.forum13.panel-default .panel-heading{
    background-color:rgba(22, 160, 133, 0.8);
}

.forum17.panel-default .panel-heading, .forum16.panel-default .panel-heading{
    background-color:rgba(41, 128, 185, 0.8);
}

.forum22.panel-default .panel-heading, .forum21.panel-default .panel-heading{
    
    background-color:rgba(112, 97, 196, 0.8);
}


.forum28.panel-default .panel-heading,.forum27.panel-default .panel-heading{
    background-color:rgba(142, 68, 173, 0.8);
}

.forum31.panel-default .panel-heading,.forum30.panel-default .panel-heading{
    background-color: rgba(214,109,214, 0.8)
}
*/