<!-- INCLUDE gallery/gallery_header.html -->

<strong>&rsaquo;</strong> <strong><a href="{U_VIEW_ALBUM}">{ALBUM_NAME}</a></strong>
            </li>
        </ul>
    </div>
</div>
<!-- IF not S_IN_GALLERY_POPUP and ALBUM_DESC or MODERATORS or U_MCP -->
<div>
	<!-- NOTE: remove the style="display: none !important;" when you want to have the album description on the album body -->
	<!-- IF ALBUM_DESC --><div style="display: none !important;">{ALBUM_DESC}<br /></div><!-- ENDIF -->
	<!-- IF ALBUM_CONTEST_START --><span>{ALBUM_CONTEST_START}<br /></span><!-- ENDIF -->
	<!-- IF ALBUM_CONTEST_RATING --><span>{ALBUM_CONTEST_RATING}<br /></span><!-- ENDIF -->
	<!-- IF ALBUM_CONTEST_END --><span>{ALBUM_CONTEST_END}<br /><br /></span><!-- ENDIF -->
	<!-- IF MODERATORS --><strong>{L_MODERATORS}:</strong> {MODERATORS}<br /><!-- ENDIF -->
	<!-- IF U_EDIT_ALBUM --><a class="btn btn-default btn-sm" href="{U_EDIT_ALBUM}">{L_EDIT_ALBUM}</a><!-- ENDIF -->
	<!-- IF U_CREATE_ALBUM --><a class="btn btn-default btn-sm" href="{U_CREATE_ALBUM}">{L_CREATE_SUBALBUM}</a><!-- ENDIF -->
        <!-- IF not S_IS_BOT and U_MARK_ALBUMS -->
		<span class="pull-right"><a class="btn btn-default btn-sm" href="{U_MARK_ALBUMS}">{L_MARK_ALBUMS_READ}</a></span>
	
	<!-- ENDIF -->
</div>
<!-- ENDIF -->

<!-- IF .albumrow -->
	
	<!-- INCLUDE gallery/albumlist_body.html -->
<!-- ENDIF -->

<!-- IF S_IS_POSTABLE and (U_UPLOAD_IMAGE or PAGINATION or TOTAL_IMAGES or (U_SLIDE_SHOW and not S_IS_BOT)) -->
	<div class="topic-actions row">
	<!-- IF not S_IN_GALLERY_POPUP and U_UPLOAD_IMAGE -->
		<div class="buttons col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6">
			<a class="btn btn-success btn-sm"  href="{U_UPLOAD_IMAGE}" title="<!-- IF S_IS_LOCKED -->{L_ALBUM_LOCKED}<!-- ELSE -->{L_UPLOAD_IMAGE}<!-- ENDIF -->"><!-- IF S_IS_LOCKED -->{L_ALBUM_LOCKED}<!-- ELSE -->{L_UPLOAD_IMAGE}<!-- ENDIF --></a>
		</div>
	<!-- ENDIF -->

	

		<div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <!-- IF PAGINATION or TOTAL_IMAGES -->
                    <span class="pagination">
                        {TOTAL_IMAGES}<!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ENDIF -->
                    </span>
                     <!-- ENDIF -->
                     <!-- IF not S_IN_GALLERY_POPUP and S_IS_POSTABLE and U_SLIDE_SHOW and not S_IS_BOT -->
                    <div class="pagination"><a href="{U_SLIDE_SHOW}">{L_SLIDE_SHOW}</a><!-- IF PAGINATION or TOTAL_IMAGES or U_SLIDE_SHOW --> &bull;&nbsp;<!-- ENDIF --></div>
                    <!-- ENDIF -->
                </div>
	
        
	
        <!-- IF not S_IN_GALLERY_POPUP and S_DISPLAY_SEARCHBOX -->
		<div class="search-box col-xl-4 col-lg-4 col-md-4 col-sm-4 hidden-xs">
			
                    <form action="{S_SEARCHBOX_ACTION}" method="get"  class="form-inline pull-right" >
				<div class="form-group">				
                                    <input class="form-control" type="text" name="keywords" id="search_keywords" value="{L_SEARCH_ALBUM}" onclick="if (this.value == '{LA_SEARCH_ALBUM}') this.value = '';" onblur="if (this.value == '') this.value = '{LA_SEARCH_ALBUM}';" />
                                    <input type="hidden" value="{ALBUM_ID}" name="aid[]" />
                                </div>
                                <button type="submit" class="btn btn-sm btn-default">{L_SEARCH}</button>
			</form>
		</div>
	<!-- ENDIF -->

	</div>
<!-- ENDIF -->

<!-- IF .imageblock -->
	<!-- IF S_IN_GALLERY_POPUP -->
		<!-- INCLUDE gallery/imageblock_popup.html -->
	<!-- ELSE -->
		<!-- INCLUDE gallery/imageblock_body.html -->
	<!-- ENDIF -->
<!-- ELSE -->
	<!-- IF S_IS_POSTABLE -->
	<div class="panel">
		<strong>{L_NO_IMAGES_LONG}</strong>
	</div>
	<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF S_IS_POSTABLE -->
    <div class="row well">
	<form action="{S_ALBUM_ACTION}" method="post">
	<fieldset class="display-options">
			<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
			<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
		<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label>
		<label>{S_SELECT_SORT_DIR} <input type="submit" name="sort" value="{L_GO}" class="btn btn-sm btn-default" /></label>
	</fieldset>
	</form>
	<hr />
	<!-- IF .imagerow -->
	<div class="topic-actions">
		<!-- IF U_UPLOAD_IMAGE -->
			<div class="buttons">
				<div class="btn btn-sm btn-success<!-- IF S_IS_LOCKED -->locked-icon<!-- ELSE -->upload-icon<!-- ENDIF -->"><a href="{U_UPLOAD_IMAGE}" title="<!-- IF S_IS_LOCKED -->{L_ALBUM_LOCKED}<!-- ELSE -->{L_UPLOAD_IMAGE}<!-- ENDIF -->"><span></span><!-- IF S_IS_LOCKED -->{L_ALBUM_LOCKED}<!-- ELSE -->{L_UPLOAD_IMAGE}<!-- ENDIF --></a></div>
			</div>
		<!-- ENDIF -->
		<div class="pagination">
			{TOTAL_IMAGES}<!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ENDIF -->
		</div>
	</div>
	<br />
	<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF not S_IN_GALLERY_POPUP -->
	<p></p><p><a href="{U_RETURN_LINK}" class="btn btn-default btn-sm left-box {S_CONTENT_FLOW_BEGIN}" accesskey="r">{L_RETURN_TO} {S_RETURN_LINK}</a></p>
	<form method="post" id="jumpbox" action="{S_JUMPBOX_ACTION}" onsubmit="if(this.album_id.value == -1){return false;}">
		<fieldset class="jumpbox">
			<label for="album_id" accesskey="album_id">{L_JUMP_TO}:</label>
			<select name="album_id" id="album_id" onchange="if(this.options[this.selectedIndex].value != -1){ document.forms['jumpbox'].submit() }">
				{ALBUM_JUMPBOX}
			</select>
			<input type="submit btn btn-default btn-sm" value="{L_GO}" class="btn btn-sm btn-default" />
		</fieldset>
	</form>
    </div>
<!-- ENDIF -->

<!-- IF not S_IN_GALLERY_POPUP and S_DISPLAY_ONLINE_LIST -->
    <div class="row well">
	<h3><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3>
	<p>{LOGGED_IN_USER_LIST}</p>
    </div>
<!-- ENDIF -->


<!-- IF not S_IN_GALLERY_POPUP and U_MCP --><p>[&nbsp;<a href="{U_MCP}">{L_MCP}</a>&nbsp;]</p><!-- ENDIF -->
<!-- INCLUDE gallery/gallery_footer.html -->